[user]
	name = Daniel Proctor
	email = dan@danielproctor.dev
[core]
	editor = code --wait
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
[push]
	autoSetupRemote = true