[user]
	name = Daniel Proctor
	email = dan@danielproctor.dev
[core]
	editor = nvim
	autocrlf = input
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	guitool = vscode
[difftool "vscode"]
	path = C:/Users/Daniel/AppData/Local/Programs/Microsoft VS Code/Code.exe
	cmd = \"C:/Users/Daniel/AppData/Local/Programs/Microsoft VS Code/Code.exe\" --new-window --wait --diff \"$LOCAL\" \"$REMOTE\"
[merge]
	guitool = vscode
[mergetool "vscode"]
	path = C:/Users/Daniel/AppData/Local/Programs/Microsoft VS Code/Code.exe
	cmd = \"C:/Users/Daniel/AppData/Local/Programs/Microsoft VS Code/Code.exe\" --new-window --wait --merge \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\"
